## compiled object files
*.slo
*.lo
*.o
*.obj

## precompiled headers
*.gch
*.pch

## compiled dynamic libraries
# *.so
*.dylib
# *.dll

## compiled static libraries
*.lai
*.la
# *.a
# *.lib

## executables
*.exe
*.out
*.app

## CMake intermediate files
cmake-build*/
build/

## IDE
.vscode/
.idea/

## output files
output/

## local dirs
/3_party

## Huge files

# https://snap.stanford.edu/data/twitter-2010.html
example/input/twitter-2010-ids.csv